nav {
    background: rgba(0, 0, 0, 0.2);
    margin-bottom: 0%;
    height: 70px !important;
}

.brand-logo {
    color: black
}

.img-wrap {
    height: 5.5rem;
    z-index: 9;
    margin-top: 0.3em;
    object-fit: cover;
}

#loginBtn {
    margin-top: 1.7rem;
}

.colCustom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.areaRow {
    margin-top: 10rem;
}

#backgroundImageContainer {
    background: url('../../../images/headerBackground.jpg') no-repeat center center;
    background-color: black;
    background-size: cover;
    width: 100%;
}

#btnOrder {
    height: 3rem;
}

.card-panel {
    padding-left: 8px !important;
    padding-right: 8px !important;
    padding-bottom: 8px !important;
    padding-top: 8px;
}

.headerRow {
    margin-bottom: 8px;
    margin-top: 0px;
}

.marginBottom8p {
    margin-bottom: 8px !important;
}

.translucentBlack {
    background: rgba(0, 0, 0, 0.6)
}
