<div id="backgroundImageContainer">
    <nav class="z-depth-0 ">
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo left marginleft10px"><img src="../../../images/pm-logo.png" alt="Pizza Max" class="img-wrap" onclick="window.location.reload()"></a>
            <ul class="right">
                <li>
                    <button class="btn waves-effect waves-light red darken-1 modal-trigger marginright10px" name="action" id="loginBtn" data-target="modal1">Login</button>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row areaRow ">
        <div class="col s2 m2 l2 xl2"></div>
        <div class="col s8 m8 l8 xl8 ">
            <div class="card-panel translucentBlack">
                <div class="headerRow center-align">
                    <span class="center-align white-text thin text-large">Delivering you the best Pizzas across {{selectedValue==''?'Kerala':selectedValue}}</span>
                </div>
                <div class="row marginBottom8p">
                    <div class="col s12 m6 l6 padding0px">
                        <select [(ngModel)]="selectedValue" name="area" class="browser-default" placeholder="Favorite food">
                        <option value=""  selected disabled hidden>Choose your location</option>
                        <option *ngFor="let area of areas" [value]="area.viewValue">
                                {{area.viewValue}}
                            </option>
                        </select>
                    </div>
                    <div class="col s12 m6 l6 padding0px">
                        <button class="btn waves-effect waves-light width100per yellow darken-4" type="submit" id="btnOrder" name="action">Show Menu</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s2 m2 l2 xl2"></div>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Login or SignUp</h4>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- modal-content -->
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Login</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">SignUp</a>
    </div>
</div>
