nav {
    background: rgba(0, 0, 0, 0.2);
    margin-bottom: 0;
    height: 70px!important;
}

.brand-logo {
    color: #000;
}

.img-wrap {
    height: 5.5rem;
    z-index: 9;
    margin-top: .3em;
    object-fit: cover;
}

#loginBtn {
    margin-top: 1.7rem;
}

.colCustom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.areaRow {
    margin-top: 10rem;
}

#backgroundImageContainer {
    background: url(../../../images/bg4.jpeg) no-repeat center center;
    background-color: #000;
    background-size: cover;
    width: 100%;
}

#btnOrder {
    height: 3rem;
    font-weight: 300;
}

.card-panel {
    padding: 8px!important;
}

.headerRow {
    margin-bottom: 8px;
    margin-top: 0;
}

.marginBottom8p {
    margin-bottom: 8px!important;
}

.translucentBlack {
    background: rgba(0, 0, 0, 0.6);
}