nav {
    background: rgba(36, 110, 23, 0.7);
    margin-bottom: 0;
    height: 70px!important;
}

.brand-logo {
    color: #000;
}

#loginBtn {
    margin-top: 1.7rem;
}

.colCustom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.areaRow {
    margin-top: 10rem;
}

#backgroundImageContainer {
    background: url(assets/images/bg4.jpeg) no-repeat center center;
    background-color: #000;
    background-size: cover;
    width: 100%;
}

#btnOrder {
    height: 3rem;
    font-weight: 300;
}

.card-panel {
    padding: 8px!important;
}

.headerRow {
    margin-bottom: 8px;
    margin-top: 0;
}

.marginBottom8p {
    margin-bottom: 8px!important;
}

.translucentBlack {
    background: rgba(0, 0, 0, 0.6);
}
