<div class="container margintop30px">
    <div class="center-align text-large-2">Offers</div>
    <div class="row">
        <div class="col s12 m4 l4 xl4" *ngFor="let offer of offers">
            <div class="card">
                <div class="card-image">
                    <img src={{offer.ImagePath}} />
                    <span class="card-title red padding10px margin10px">{{offer.title}}</span>
                </div>
                <div class="card-content">
                    <p>{{offer.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
