.dottedBtn {
    border: 1px dashed #FFF;
    color: #FFF;
}

.fa-map-marker {
    font-size: 14px
}

.notification-badge {
    position: relative;
    right: 3.7em;
    top: 15px;
    color: #ffffff;
    background-color: #2eabff;
    border-radius: 40px;
    padding: 3px 20px;
}

.fa-user {
    font-size: 1.4rem;
    margin-top: 5px;
    white-space: nowrap
}

@media only screen and (max-width:600px) {
    .fa-user {
        margin-top: 34px;
        white-space: nowrap;
        margin-left: -3rem;
    }
}


#mobileBottomNav {
    z-index: 9;
}

.top10px {
    top: 10px;
}

.cost-badge {
  position: absolute;
  bottom: 5px;
}

span.badge.new {
    font-weight: 300;
    font-size: 0.9rem;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 12px;
}

span.badge.new::first-letter {
  padding-right: 0.3em;
}
