<app-common-navbar></app-common-navbar>
<div class="center-align text-large-2 margintop20px row">
    <div class="col m3"></div>
    <div class="col m3 paddingRight0px">
        <select [(ngModel)]="selectedCategory" name="food" class="browser-default" placeholder="Favorite food" (ngModelChange)="onSelect(selectedCategory)">
            <option value=""  selected disabled hidden>Select Item</option>
            <option *ngFor="let foodCategory of foodCategories" [value]="foodCategory">
                    {{foodCategory}} 
            </option>
        </select>
    </div>
    <div class="col m3 paddingLeft0px">
        <a id="filterBtn" class='dropdown-button btn width100per red accent-2 z-depth-0' href='#' data-activates='filter-dropdown'>Filters
             <i class="material-icons right">filter_list</i>
        </a>
        <ul id='filter-dropdown' class='dropdown-content'>
            <li><a href="#!">Veg</a></li>
            <li><a href="#!">Non Veg</a></li>
            <li class="divider"></li>
        </ul>
    </div>
</div>


<div class="container margintop20px">
    <div class="row">
        <div class="col s6 m6 l4 xl4" *ngFor="let x of selectedFood">
            <div class="card">
                <div class="card-image">
                    <img src={{x?.ImagePath}}>
                </div>
                <div class="card-content">
                    <span class="card-title center-align"><a class="btn waves-effect waves-light transparent z-depth-0 blue-text text-darken-2">{{x?.item}}</a></span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--for Mobile View only-->
<div class="hide-on-large-only white-text  margin0px red accent-2 fixed-position bottom0px width100per" id="mobileBottomNav">
    <div class="row margin_10_10_0_10 center-align" id="mobileBottomLocationNav">
        <i class="material-icons tiny">location_on</i>
        <span>{{location}}</span>
    </div>
    <div class="row valign-wrapper marginbottom0px height70px">
        <div class="col l6 s6 m6 valign-wrapper">
            <i class="material-icons marginleft20px">shopping_cart</i>
            <span class="margin0px new badge blue" data-badge-caption="">{{cartCost | currency: 'INR':true}}</span>
        </div>
        <div class="col l6 s6 m6 red accent-1 marginright20px">
            <a class="btn waves-effect waves-light transparent z-depth-0 width100per padding0px" routerLink="/cart" routerLinkActive="active">go to cart
              <i class="material-icons right">send</i>
            </a>
        </div>
    </div>
</div>
<app-footer-component></app-footer-component>
<div class="hide-on-large-only">
    <div class="row margin_10_10_0_10"></div>
    <div class="row height70px"></div>
</div>