<div class="center-align text-large-2">Offers</div>
<div class="container margintop30px">
    <div class="row">
        <div class="col s12 m6 l5 xl5 offset-m3 offset-l4 offset-xl4" *ngFor="let offer of offers">
            <div class="card">
                <div class="card-image progressive height215px">
                    <img class="lazy" src={{offer.ImagePath}} />
                    <span class="card-title white red-text padding10px margin10px">{{offer.title}}</span>
                </div>
                <div class="card-content" [innerHTML]="offer.description">

                </div>
            </div>
        </div>
    </div>
</div>


<div class="center-align text-large-2">Recommended</div>
<div class="container margintop30px">
    <div class="row">
        <div class="col s12 m4 l4 xl4" *ngFor="let rec of recommended">
            <div class="card medium">
                <div class="card-image progressive height215px">
                    <img class="lazy" src={{rec.ImagePath}} />
                    <span class="card-title red padding10px margin10px">{{rec.title}}</span>
                </div>
                <div class="card-content">
                    <p>{{rec.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
