<nav class="height70px marginbottom0px">
    <div class="nav-wrapper red accent-2">
        <a href="" class="marginleft10px brand-logo left"><img [src]="'assets/images/pm-logo.png'" alt="Pizza Max" class="logo-wrap" (click)="backToHome()"></a>
        <ul class="brand-logo center">
          <li>
              <a class="hide-on-med-and-down height70px dottedBtn">
                <!-- <div style="display: inline-block;"> -->
                  <i class="material-icons tiny left">location_on</i>
                  <span>{{location}}</span>
                  <i class="material-icons tiny right">arrow_drop_down</i>
                <!-- </div> -->
              </a>
          </li>
        </ul>
        <ul id="nav-mobile" class="right">
            <li>
                <a class="hide-on-med-and-down height70px" routerLink="/cart" routerLinkActive="active">
                    <span class="new badge cost-badge margin0px blue" data-badge-caption="">{{ cartCost | currency: 'INR':true}}</span>
                    <i class="material-icons tiny left marginleft10px">shopping_cart</i>
                </a>
            </li>
            <li>
                <a class="valign-wrapper height70px">
                    <i class="material-icons tiny left">account_circle</i>
                    <span>{{userName}}</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
