.padding0px {
    padding: 0px !important;
}

.marginbottom0px {
    margin-bottom: 0px !important;
}

.width100per {
    width: 100%
}

.font-Bold {
    font-weight: bold;
}

.z-index9 {
    z-index: 9 !important;
}

.text-large {
    font-size: 1.4rem;
}

.text-large-2 {
    font-size: 1.6rem;
}

.padding10px {
    padding: 10px!important;
}

.margin10px {
    margin: 10px!important;
}

.display-inline {
    display: inline;
}

.not-allowed {
    cursor: not-allowed;
}