/* html,
body {
    max-width: 100%;
    overflow-x: hidden;
} */

.padding0px {
    padding: 0!important;
}

.marginbottom0px {
    margin-bottom: 0!important;
}

.width100per {
    width: 100%;
}

.font-Bold {
    font-weight: 700;
}

.z-index9 {
    z-index: 9!important;
}

.text-large {
    font-size: 1.4rem;
}

.text-large-2 {
    font-size: 1.6rem;
}

.padding10px {
    padding: 10px!important;
}

.margin10px {
    margin: 10px!important;
}

.display-inline {
    display: inline;
}

.notAllowed {
    cursor: not-allowed;
}

.pointerNone {
    pointer-events: none;
}

.marginleft10px {
    margin-left: 10px;
}

.marginright10px {
    margin-right: 10px;
}

.marginleft40px {
    margin-left: 40px!important;
}

.marginright40px {
    margin-right: 40px!important;
}

.absolute-position {
    position: absolute;
}

.padding30pxleftright {
    padding-left: 30px;
    padding-right: 30px;
}

.paddingTop5px {
    padding-top: 5px;
}

menu {
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.logo-wrap {
    height: 5.5rem;
    z-index: 9;
    margin-top: .3em;
    object-fit: cover;
}

.marginAuto {
    margin: auto;
}