.padding0px {
    padding: 0!important;
}

.marginbottom0px {
    margin-bottom: 0!important;
}

.width100per {
    width: 100%;
}

.height100per {
    height: 100%;
}

.font-Bold {
    font-weight: 700;
}

.z-index9 {
    z-index: 9 !important;
}

.text-large {
    font-size: 1.4rem;
}

.text-large-2 {
    font-size: 1.6rem;
}

.paddingLeft0px {
    padding-left: 0px !important;
}

.paddingRight0px {
    padding-right: 0px !important;
}

.padding10px {
    padding: 10px!important;
}

.margin10px {
    margin: 10px!important;
}

.display-inline {
    display: inline !important;
}

.notAllowed {
    cursor: not-allowed;
}

.pointerNone {
    pointer-events: none;
}

.marginleft10px {
    margin-left: 10px;
}

.marginright10px {
    margin-right: 10px;
}

.marginleft40px {
    margin-left: 40px!important;
}

.marginright40px {
    margin-right: 40px!important;
}

.marginleft20px {
    margin-left: 20px!important;
}

.marginright20px {
    margin-right: 20px!important;
}

.absolute-position {
    position: absolute;
}

.fixed-position {
    position: fixed;
}

.padding30pxleftright {
    padding-left: 30px;
    padding-right: 30px;
}

.paddingTop5px {
    padding-top: 5px !important;
}

menu {
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.logo-wrap {
    height: 5.5rem;
    z-index: 9;
    margin-top: .3em;
    object-fit: cover;
}

.marginAuto {
    margin: auto;
}

.margin0px {
    margin: 0px!important;
}

.height70px {
    height: 70px!important;
}

.height0px {
    height: 0px!important;
}

.bottom0px {
    bottom: 0px!important;
}

.margin_10_10_0_10 {
    margin-top: 10px !important;
    margin-bottom: 0px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.margintop30px {
    margin-top: 30px!important;
}

.margintop20px {
    margin-top: 20px!important;
}

.top10px {
    top: 10px;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.height215px  {
  height: 215px!important;
  width: auto!important;
  overflow: hidden!important;
}
