<div class="page-footer grey darken-2">
    <div class="marginleft40px marginright40px">
        <div class="row">
            <div class="col l4 s12">
                <h5 class="white-text center-align thin">Benefits</h5>
                <div class="center-align match-content-centered">

                    <span class="left"><i class="fas fa-truck absolute-position"></i></span>
                    <div class="padding30pxleftright">Free delivery from 12 noon to 11 pm</div>

                    <span class="left"><i class="fas fa-wifi absolute-position"></i></span>
                    <div class="padding30pxleftright">Free WiFi available at all outlets</div>

                    <span class="left"><i class="fas fa-utensils absolute-position"></i></span>
                    <div class="padding30pxleftright">Halal meat only</div>

                </div>
            </div>
            <div class="col l4 s12 center-align">
                <h5 class="white-text thin">The Company</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Careers</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Terms and Conditions</a></li>
                </ul>
            </div>
            <div class="col l4 s12 center-align">
                <h5 class="white-text thin">Follow Us</h5>
                <ul id="social">
                    <li><a class="grey-text text-lighten-3" href="#!"><i class="fab fa-2x fa-instagram"></i></a></li>
                    <li><a class="grey-text text-lighten-3" href="#!"><i class="fab fa-2x fa-facebook-square"></i></a></li>
                    <li><a class="grey-text text-lighten-3" href="#!"><i class="fab fa-2x fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="center-align grey darken-3 thin padding10px">
        © 2018 Copyright PizzaMax
    </div>

</div>