<div class="page-footer yellow darken-4">
    <div class="container ">
        <div class="row">
            <div class="col l4 s12">
                <h5 class="white-text">The Company</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Careers</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Terms and Conditions</a></li>
                </ul>
            </div>
            <div class="col l4 s12">
                <h5 class="white-text">Follow Us</h5>
                <ul id="social">
                    <li><a class="grey-text text-lighten-3" href="#!"><i class="fab fa-2x fa-instagram"></i></a></li>
                    <li><a class="grey-text text-lighten-3" href="#!"><i class="fab fa-2x fa-facebook-square"></i></a></li>
                    <li><a class="grey-text text-lighten-3" href="#!"><i class="fab fa-2x fa-twitter"></i></a></li>
                </ul>
            </div>
            <div class="col l4 s12">
                <ul id="featureImage">
                    <li>
                        <i class="fas  fa-truck"></i>
                        <span>&nbsp;Free Delivery from 12 P.M to 11 P.M</span>
                    </li>
                    <li><i class="fas  fa-wifi"></i>
                        <span>&nbsp;Free WiFi Available</span></li>
                    <li><i class="fas  fa-utensils"></i>
                        <span>&nbsp;Only Halal Meat</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright grey lighten-3">
        <div class="container black-text center-align">
            © 2018 Copyright PizzaMax
        </div>
    </div>
</div>